Source: connui-conndlgs-wlan
Section: x11
Priority: optional
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>= 5), libdbus-1-dev, libhildon1-dev, libconnui-dev (>= 2.88), connui-iapsettings-dev (>= 2.78), libmaemosec-certman-applet-dev, libmaemosec-certman-dev, libmaemosec-dev

Package: connui-conndlgs-wlan
Architecture: armel
Depends: ${shlibs:Depends}, osso-connectivity-ui-l10n-mr | osso-connectivity-ui-l10n-mr0
Description: Connectivity WLAN Dialogs
 This package provides the Connectivity Dialogs for WLAN that are activated
 via Conndlgs daemon.
