#!/usr/bin/make -f
# -*- makefile -*-

build:
	dh_testdir
	$(MAKE)

clean:
	dh_testdir
	-$(MAKE) clean
	dh_clean -pconnui-conndlgs-wlan

binary:
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) DESTDIR="$(CURDIR)/debian/connui-conndlgs-wlan" install
	dh_installdocs -pconnui-conndlgs-wlan
	dh_installchangelogs -pconnui-conndlgs-wlan
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary
